* {
    margin: 0;
    padding: 0;
}

a {
    outline: 0;
}



.text {    
    font-family: 'Indie Flower', open-sans;
    font-size: 33px;
    letter-spacing: 5px;
}

.avatar {
    position: relative;
    display: block;
    border-style: solid;
    border-color: transparent;
    border-width: 10px;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.name{
    font-family: 'Indie Flower', open-sans;
    font-size: 30px;
    letter-spacing: 5px;
    width: 15%;
    margin: auto;
    margin-top: 10px;
    border: 2.5px solid #a2f9f1;
    border-radius: 33px;
    text-align: center;
    background:linear-gradient(to right, #ebffff, #a2f9f1);
    animation: namechange 2.5s infinite;
    animation: letters 5s infinite;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    display: inline-block;
    padding: 50px;
    color: black;
}

body {
    background:linear-gradient(to right, #d0fff8, azure );
}

@keyframes namechange {
    40% {border-color: lightcyan;}
}

@keyframes letters {
    50% {letter-spacing: 10px;} 
}

@keyframes borderchange {
    0% {border-color: #a2f9f1;}
    25% { border-color: azure;}
    50% { border-color: #d0fff8;}
    75% {border-color: #ebffff;}
    100% { border-color: #a2f9f1;}
}