* {
    margin: 0;
    padding: 0;
}

a {
    outline: 0;
}



.text {    
    font-family: 'Indie Flower', open-sans;
    font-size: 33px;
    letter-spacing: 5px;
}

.avatar {
    display: block;
    border-style: solid;
    border-color: #88edf2;
    border-width: 10px;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

.name{
    position: relative;
    font-family: 'Indie Flower', open-sans;
    font-size: 30px;
    letter-spacing: 5px;
    width: 15%;
    left: 42%;
    margin-top: 1%;
    border-radius: 33px;
    border: 2px solid #a2f9f1;
    text-align: center;
    background:linear-gradient(to right, #ebffff, #a2f9f1);
    animation: namechange 2.5s infinite;
    animation: letters 5s infinite;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    display: inline-block;
    padding: 50px;
    color: black;
}

body {
    background:linear-gradient(to right, #d0fff8, azure );
}

@keyframes namechange {
    40% {border-color: lightcyan;}
}

@keyframes letters {
    50% {letter-spacing: 10px;}
}

