* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: disc;
}

a {
    position: relative;
    outline: 0;
}

.text {    
    font-family: 'Indie Flower', open-sans;
    font-size: 33px;
    letter-spacing: 5px;
}

header .avatar{
    display: block;
    border-style: solid;
    border-color: transparent;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.contentarea{
    width: 15%;
    margin: auto;
    margin-top: 10px;
}

.name{
    position: relative;
    border: solid #a2f9f1;
    border-radius: 33px;
    font-size: 30px;
    padding-bottom: 5px;
    text-align: center;
    background:linear-gradient(to right, #ebffff, #a2f9f1);
    animation: namechange 2.5s infinite;
    animation: letters 5s infinite;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
}

nav li a {
    text-decoration: none;
    display: inline-block;
    padding: 50px;
    color: black;
}

body {
    background:linear-gradient(to right, #d0fff8, azure );
}

.copyright{
    color: #FFFFFF;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 5px;
    background-color: #000000;
}

footer{
    position: fixed;
    bottom: 0;
}

@keyframes namechange {
    40% {border-color: lightcyan;}
}

@keyframes letters {
    50% {letter-spacing: 10px;} 
}

@keyframes borderchange {
    0% {border-color: #a2f9f1;}
    25% { border-color: azure;}
    50% { border-color: #d0fff8;}
    75% {border-color: #ebffff;}
    100% { border-color: #a2f9f1;}
}
